body {
    background-color: #f8f9fa;
}

.card {
    border: none;
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.navbar {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}